﻿@model IEnumerable<PostTag.Core.Models.Post>

@{ ViewData["Title"] = "Import File"; }


<form method="post" asp-action="ImportClassFromExcel" asp-controller="Posts" asp-area="" enctype="multipart/form-data">

    <div class="form-group custom-file " style="margin-bottom:20px">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>


    <button type="submit" class="btn btn-success float-left">Submit</button>
    @if (Model != null)
    {
        <button style=" margin-bottom: 10px; margin-top: 10px;" onclick="alert('Add Successfully !!! :V :V :V')"
                class="btn btn-success float-right ">
            <i style="  vertical-align: middle;margin:auto" class="fas fa-plus-square">  Add From Excel </i>
        </button>
    }
</form>




@if (Model != null)
{
    <table class="table table-bordered" style='font-size:90%'>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Views)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });


    </script>
}