﻿@model IEnumerable<PostTag.Core.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>View Posts</h1>

<div class="float-right" style="margin-bottom:20px">

    <form method="post" asp-action="ExportClassToExcel" asp-controller="Posts" asp-area="" enctype="multipart/form-data">
        <a asp-action="Create" asp-controller="Posts" asp-area=""
             class="btn btn-primary bg-custom float-left " style="margin-right:5px">
            <i style="font-size:15px; vertical-align: middle;" class="fas fa-plus-square"></i>
        </a>
        <button type="submit" class="btn btn-success ">Export To Excel</button>
    </form>

</div>
<p></p>
<table class="table table-bordered"  style='font-size:90%'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>


            <th >
                Tag
            </th>



            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>

                    @foreach (var tag in item.PostTags)
                    {
                        <div style="width:100px">
                            -
                            @Html.DisplayFor(modelItem => tag.Tag.Name)

                        </div>

                    }


                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>

                
                <td style="text-align: center; vertical-align: middle;">
                    <div style="width:90px;">

                        <form asp-action="Delete" asp-controller="Posts" asp-area="" asp-route-id="@item.Id">
                            <a asp-action="Edit" asp-controller="Posts" asp-area=""
                               asp-route-id="@item.Id" class="btn btn-primary bg-custom float-left w-auto">
                                <i style="font-size:15px; vertical-align: middle;" class="fas fa-edit"></i>
                            </a>
                            <button type="submit"
                                    onclick="return confirm('Are you sure to delete this category?');"
                                    class="btn btn-danger float-right w-auto ">
                                <i style="font-size:15px; vertical-align: middle;" class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>



